.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 3.7rem;
        display: inline-block;
        border: 2px solid $color-white;
        transition: all 0.2s;
        font-size: $default-font-size;
        color: $color-white;
    }

    &:hover {
        // transform: translateY(-3px);
        // box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after {
            // transform: scaleX(1.4) scaleY(1.6);
            // opacity: 0;
        }
    }
    
    &:active {
        // transform: translateY(-1px);
        // box-shadow: 0 .5rem 2rem rgba($color-black, 0.2); 
    }
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }
    
    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s; 
        animation-fill-mode: backwards;
    }
}

.btn-secondary {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-white;
        display: inline-block;
        text-decoration: none;
        padding: 2rem 5rem .7rem 5rem;
        border-radius: 5rem;
        transition: all .2s;
        text-transform: uppercase;
        background-color: $color-primary;
        position: absolute;
        bottom: 6rem;
        font-weight: bold;
    }

    &:hover  &--icon {
        animation: none;
    }

    &:hover  {
        animation: none;
        bottom: 6.5rem;
    }

    &:active {
        // box-shadow: 0 .5rem 1rem rgba($color-black,.25);
        bottom: 6rem;
    }

    &--icon {
        display: block;
        width: 48px;
        margin: 0 auto;
        margin-top: -20px;
        animation: moveArrow 1s ease-out infinite;
    }
}

.btn-tertiary {
    &:link,
    &:visited {
        font-size: 1.2rem;
        text-decoration: none;
        transition: all .2s;
        float: right;
        display: flex;
        padding: 2px 5px;
        color: $color-black;
    }

    img {
        height: 20px;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black,.25);
        transform: translateY(-2px);

        img {
            filter: invert(93%) sepia(93%) saturate(27%) hue-rotate(97deg) brightness(106%) contrast(108%);
        }
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black,.25);
        transform: translateY(0)
    }
}