body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: #000;
  }

.heading-primary {
    color: $color-white;
    backface-visibility: hidden;
    width: 55%;
    text-align: center;
    @include respond-phone {
        width: 85%;
    }

    @include respond-tablet {
        width: 85%;
    }
    

    &--main {
        display: inline-block;
        font-size: 5rem;
        font-weight: 400;
        animation-name: moveInLeft;
        line-height: 5.4rem;
        animation-duration: 1s;
        margin-bottom: 2.5rem;
        animation-timing-function: ease-out;
        width: 90%;
        @include respond-phone {
            font-size: 28px;
        }
    }

    &--sub {
        display: block;
        font-size: 2.5rem;
        font-weight: normal;
        // letter-spacing: 1.75rem;
        line-height: 3.2rem;
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    color: $color-black;
    margin-bottom: 5px;
    @include respond-phone {
        font-size: 16px;
        line-height: 20px;
    }
}

.heading-tertiary {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 5px;
    @include respond-phone {
        font-size: 10px;
        line-height: 16px;
    }
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}