.u-center-text {
    text-align: center;
}

.u-margin-top-primary {
    margin-top: 4rem;
}

.u-margin-botom-small {
    margin-bottom: 1rem;
}

.u-margin-botom-medium {
    margin-bottom: 2.7rem;
}

.u-absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.u-absolute-horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.u-space-between {
    justify-content: space-between;
}

.u-align-right {
    text-align: right;
}

.u-align-center {
    text-align: center;
}

.u-inline-block {
    display: inline-block;
}
